
  
  h2 {
    font-family: Helvetica, Sans-serif; 
    color: #2c3e50;
    margin-bottom:20PX; 
    padding:0; 
    font-weight:300;
  }
 
  h2 {
    font-size: 22px;
    
    /*opacity: 0;
    animation: appear 1s 1s forwards;*/
  }
  
  .load{
    margin:1em;
    margin-left: 32%;
  }
  .marginLoad{
    margin-left: 60px;
  }
  
  .loader {
    margin-left: 12%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 10px solid #bcd3c7;
    width: 90px;
    height: 90px;
    border-top-color: black;
    border-bottom-color: black;
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes spin {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  
  @keyframes appear {
    100%{
      opacity: 1;
    }
  }
 