.cascading-right {
    margin-right: -50px;
  }
  
  @media (max-width: 900px) {
    .cascading-right {
      margin-right: 0;
    }
  }
  .disable-grow:active,
  .disable-grow:focus {
    transform: scale(1) !important;
  }
  
  